In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import requests

In [2]:
dbtable = pd.read_csv('./Raw-Data/Natural_Gas_Import_Quantity.csv')
dbtable

        Back to Contents Data 1: U.S. Natural Gas Imports (MMcf)
0              Sourcekey                                N9100US2
1                   Date         U.S. Natural Gas Imports (MMcf)
2    1973-01-15 00:00:00                                   92694
3    1973-02-15 00:00:00                                   83870
4    1973-03-15 00:00:00                                   91581
..                   ...                                     ...
621  2024-08-15 00:00:00                                  260891
622  2024-09-15 00:00:00                                  246564
623  2024-10-15 00:00:00                                  253967
624  2024-11-15 00:00:00                                  270439
625  2024-12-15 00:00:00                                  309387

[626 rows x 2 columns]

In [4]:
def get_dataframe_info():
    dbtable = pd.read_csv('./Raw-Data/Natural_Gas_Import_Quantity.csv')
    
    dbtable
    
    dbtable.shape #show how much columns and rows in the data frame
    dbtable.dtypes #show the types of data in the frame
    dbtable.info() #give a general view of what the data looks like for each column
    dbtable.isna().all() #check to see if there is any rows are empty
    dbtable.isna().any() #check to see if any value in each row is missing
    dbtable.isna().sum() #return a sum of null number from each column

In [5]:
get_dataframe_info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 2 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Back to Contents                         626 non-null    object
 1   Data 1: U.S. Natural Gas Imports (MMcf)  626 non-null    object
dtypes: object(2)
memory usage: 9.9+ KB