In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\bradl\anaconda3\lib\site-packages (2.0.1)

In [2]:
ngImportPrice = pd.read_excel('Price of U.S. Natural Gas Imports (Dollars per Thousand Cubic Feet).xls', sheet_name ="Data 1")

In [3]:
ngImportPrice

,Back to Contents,Data 1: Price of U.S. Natural Gas Imports (Dollars per Thousand Cubic Feet)
0,Sourcekey,N9100US3
1,Date,Price of U.S. Natural Gas Imports (Dollars per...
2,1989-01-15 00:00:00,1.72
3,1989-02-15 00:00:00,1.88
4,1989-03-15 00:00:00,1.81
...,...,...
429,2024-08-15 00:00:00,1.29
430,2024-09-15 00:00:00,1.35
431,2024-10-15 00:00:00,1.6
432,2024-11-15 00:00:00,1.92
433,2024-12-15 00:00:00,3.13

In [86]:
ngImportPrice.isnull().sum()

Date                                                                           0
Data 1: Price of U.S. Natural Gas Imports (Dollars per Thousand Cubic Feet)    0
dtype: int64

In [4]:
ngImportPrice = ngImportPrice.rename(columns={"Back to Contents": "Date"}) # Rename column to date

In [6]:
ngImportPrice = ngImportPrice.drop(0) #drop socurce key row 0
ngImportPrice = ngImportPrice.drop(1) #drop date in row 1

In [8]:
cutoff_date = datetime(2001, 1, 1) # set cutoff date to 2001

In [9]:
ngImportPrice_filtered = ngImportPrice[ngImportPrice['Date'] >= cutoff_date] #filter everything after 2001

In [76]:
ngImportPrice=ngImportPrice_filtered.reset_index(drop=True) #set df = filtered df and resets the index

In [78]:
ngImportPrice

,Date,Data 1: Price of U.S. Natural Gas Imports (Dollars per Thousand Cubic Feet)
0,2001-01-15 00:00:00,9.47
1,2001-02-15 00:00:00,6.45
2,2001-03-15 00:00:00,5.42
3,2001-04-15 00:00:00,5.35
4,2001-05-15 00:00:00,4.95
...,...,...
283,2024-08-15 00:00:00,1.29
284,2024-09-15 00:00:00,1.35
285,2024-10-15 00:00:00,1.6
286,2024-11-15 00:00:00,1.92
287,2024-12-15 00:00:00,3.13

In [12]:
ngImport = pd.read_excel('Data 1 U.S. Natural Gas Imports (MMcf).xls', sheet_name ="Data 1")

In [82]:
ngImport

                    Date Data 1: U.S. Natural Gas Imports (MMcf)
0    2001-01-15 00:00:00                                  373077
1    2001-02-15 00:00:00                                  328289
2    2001-03-15 00:00:00                                  358103
3    2001-04-15 00:00:00                                  318573
4    2001-05-15 00:00:00                                  321878
..                   ...                                     ...
283  2024-08-15 00:00:00                                  260891
284  2024-09-15 00:00:00                                  246564
285  2024-10-15 00:00:00                                  253967
286  2024-11-15 00:00:00                                  270439
287  2024-12-15 00:00:00                                  309387

[288 rows x 2 columns]

In [80]:
ngImport.isnull().sum()

Date                                       0
Data 1: U.S. Natural Gas Imports (MMcf)    0
dtype: int64

In [14]:
ngImport = ngImport.rename(columns={"Back to Contents": "Date"}) # Rename column to date

In [15]:
ngImport = ngImport.drop(0) #drop socurce key row 0
ngImport = ngImport.drop(1) #drop date in row 1

In [16]:
ngImport_filtered = ngImport[ngImport['Date'] >= cutoff_date] #filter everything after 2001

In [72]:
ngImport=ngImport_filtered.reset_index(drop=True) #set df = filtered df and resets index

In [74]:
ngImport

                    Date Data 1: U.S. Natural Gas Imports (MMcf)
0    2001-01-15 00:00:00                                  373077
1    2001-02-15 00:00:00                                  328289
2    2001-03-15 00:00:00                                  358103
3    2001-04-15 00:00:00                                  318573
4    2001-05-15 00:00:00                                  321878
..                   ...                                     ...
283  2024-08-15 00:00:00                                  260891
284  2024-09-15 00:00:00                                  246564
285  2024-10-15 00:00:00                                  253967
286  2024-11-15 00:00:00                                  270439
287  2024-12-15 00:00:00                                  309387

[288 rows x 2 columns]

In [19]:
ngDeliveries = pd.read_excel('U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf).xls', sheet_name ="Data 1")

In [92]:
ngDeliveries

,Date,Data 1: U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf)
0,2001-01-15 00:00:00,340292
1,2001-02-15 00:00:00,312843
2,2001-03-15 00:00:00,362843
3,2001-04-15 00:00:00,384494
4,2001-05-15 00:00:00,433923
...,...,...
283,2024-08-15 00:00:00,1493479
284,2024-09-15 00:00:00,1227936
285,2024-10-15 00:00:00,1070652
286,2024-11-15 00:00:00,992045
287,2024-12-15 00:00:00,1033271

In [94]:
ngDeliveries.isnull().sum()

Date                                                                      0
Data 1: U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf)    0
dtype: int64

In [98]:
ngDeliveries.describe(include="all")

C:\Users\bradl\AppData\Local\Temp\ipykernel_24292\1347031807.py:1: FutureWarning: The behavior of value_counts with object-dtype is deprecated. In a future version, this will *not* perform dtype inference on the resulting index. To retain the old behavior, use `result.index = result.index.infer_objects()`
  ngDeliveries.describe(include="all")

,Date,Data 1: U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf)
count,288,288
unique,288,288
top,2001-01-15 00:00:00,340292
freq,1,1

In [21]:
ngDeliveries = ngDeliveries.rename(columns={"Back to Contents": "Date"}) # Rename column to date

In [22]:
ngDeliveries = ngDeliveries.drop(0) #drop socurce key row 0
ngDeliveries = ngDeliveries.drop(1) #drop date in row 1

In [23]:
ngDeliveries_filtered = ngDeliveries[ngDeliveries['Date'] >= cutoff_date] #filter everything after 2001

In [68]:
ngDeliveries=ngDeliveries_filtered.reset_index(drop=True) #set df = filtered df and resets the index

In [70]:
ngDeliveries

,Date,Data 1: U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf)
0,2001-01-15 00:00:00,340292
1,2001-02-15 00:00:00,312843
2,2001-03-15 00:00:00,362843
3,2001-04-15 00:00:00,384494
4,2001-05-15 00:00:00,433923
...,...,...
283,2024-08-15 00:00:00,1493479
284,2024-09-15 00:00:00,1227936
285,2024-10-15 00:00:00,1070652
286,2024-11-15 00:00:00,992045
287,2024-12-15 00:00:00,1033271