In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import requests
!pip install xlrd

Collecting xlrd

WARNING: You are using pip version 21.2.4; however, version 25.0.1 is available.
You should consider upgrading via the 'C:\Users\anura\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [51]:
def get_dataframe_info(dataframe, title="Data Frame"):
    dbtable = dataframe
    
    print("Information of the " + title + " Data Frame\n")

    print("First Ten Rows of the Data Frame")
    print(dbtable.head(10))
    
    print("\nSize of Data Frame")
    print(dbtable.shape) #show how much columns and rows in the data frame

    print("\nTypes of Data Stored in the Data Frame\n")
    print(dbtable.dtypes) #show the types of data in the frame

    print("\nGeneral Information on each Column in the Data Frame\n")
    print(dbtable.info()) #give a general view of what the data looks like for each column

    print("\nChecking for Null Rows in the Data Frame\n")
    print(dbtable.isna().all()) #check to see if there is any rows are empty

    print("\nChecking for Null Values in the Columns of the Data Frame\n")
    print(dbtable.isna().any()) #check to see if any value in each row is missing

    print("\nSum of All the Missing Values Per Column in the Data Frame\n")
    print(dbtable.isna().sum()) #return a sum of null number from each column

In [45]:
df = pd.read_csv('Raw-Data/Natural_Gas_Import_Quantity.csv')
get_dataframe_info(df, "Natural Gas Import Quantity")

Information of the Natural Gas Import Quantity Data Frame

First Ten Rows of the Data Frame
      Back to Contents Data 1: U.S. Natural Gas Imports (MMcf)
0            Sourcekey                                N9100US2
1                 Date         U.S. Natural Gas Imports (MMcf)
2  1973-01-15 00:00:00                                   92694
3  1973-02-15 00:00:00                                   83870
4  1973-03-15 00:00:00                                   91581
5  1973-04-15 00:00:00                                   88407
6  1973-05-15 00:00:00                                   85844
7  1973-06-15 00:00:00                                   79121
8  1973-07-15 00:00:00                                   79428
9  1973-08-15 00:00:00                                   84400

Size of Data Frame

(626, 2)

Types of Data Stored in the Data Frame

Back to Contents                           object
Data 1: U.S. Natural Gas Imports (MMcf)    object
dtype: object

General Information on each Column in the Data Frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 2 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Back to Contents                         626 non-null    object
 1   Data 1: U.S. Natural Gas Imports (MMcf)  626 non-null    object
dtypes: object(2)
memory usage: 9.9+ KB
None

Checking for Null Rows in the Data Frame

Back to Contents                           False
Data 1: U.S. Natural Gas Imports (MMcf)    False
dtype: bool

Checking for Null Values in the Columns of the Data Frame

Back to Contents                           False
Data 1: U.S. Natural Gas Imports (MMcf)    False
dtype: bool

Sum of All the Missing Values Per Column in the Data Frame

Back to Contents                           0
Data 1: U.S. Natural Gas Imports (MMcf)    0
dtype: int64

In [46]:
df = pd.read_csv("Raw-Data/Natural_Gas_Import_Price.csv")
get_dataframe_info(df, "Natural Gas Import Price")

Information of the Natural Gas Import Price Data Frame

First Ten Rows of the Data Frame
      Back to Contents  \
0            Sourcekey
1                 Date
2  1989-01-15 00:00:00
3  1989-02-15 00:00:00
4  1989-03-15 00:00:00
5  1989-04-15 00:00:00
6  1989-05-15 00:00:00
7  1989-06-15 00:00:00
8  1989-07-15 00:00:00
9  1989-08-15 00:00:00

  Data 1: Price of U.S. Natural Gas Imports (Dollars per Thousand Cubic Feet)
0                                           N9100US3
1  Price of U.S. Natural Gas Imports (Dollars per...
2                                               1.72
3                                               1.88
4                                               1.81
5                                               1.73
6                                               1.76
7                                               1.81
8                                               1.75
9                                               1.77

Size of Data Frame

(434, 2)

Types of Data Stored in the Data Frame

Back to Contents                                                               object
Data 1: Price of U.S. Natural Gas Imports (Dollars per Thousand Cubic Feet)    object
dtype: object

General Information on each Column in the Data Frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 2 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Back to Contents                                                             434 non-null    object
 1   Data 1: Price of U.S. Natural Gas Imports (Dollars per Thousand Cubic Feet)  434 non-null    object
dtypes: object(2)
memory usage: 6.9+ KB
None

Checking for Null Rows in the Data Frame

Back to Contents                                                               False
Data 1: Price of U.S. Natural Gas Imports (Dollars per Thousand Cubic Feet)    False
dtype: bool

Checking for Null Values in the Columns of the Data Frame

Back to Contents                                                               False
Data 1: Price of U.S. Natural Gas Imports (Dollars per Thousand Cubic Feet)    False
dtype: bool

Sum of All the Missing Values Per Column in the Data Frame

Back to Contents                                                               0
Data 1: Price of U.S. Natural Gas Imports (Dollars per Thousand Cubic Feet)    0
dtype: int64

In [47]:
df = pd.read_csv("Raw-Data/Natural_Gas_Deleiveries_to_Electric_Power_Consumers.csv")
get_dataframe_info(df, "Natural Gas Deleiveries to Electric Power Consumers")

Information of the Natural Gas Deleiveries to Electric Power Consumers Data Frame

First Ten Rows of the Data Frame
      Back to Contents  \
0            Sourcekey
1                 Date
2  2001-01-15 00:00:00
3  2001-02-15 00:00:00
4  2001-03-15 00:00:00
5  2001-04-15 00:00:00
6  2001-05-15 00:00:00
7  2001-06-15 00:00:00
8  2001-07-15 00:00:00
9  2001-08-15 00:00:00

  Data 1: U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf)
0                                           N3045US2
1  U.S. Natural Gas Deliveries to Electric Power ...
2                                             340292
3                                             312843
4                                             362843
5                                             384494
6                                             433923
7                                             492819
8                                             634425
9                                             686753

Size of Data Frame

(290, 2)

Types of Data Stored in the Data Frame

Back to Contents                                                          object
Data 1: U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf)    object
dtype: object

General Information on each Column in the Data Frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 2 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Back to Contents                                                        290 non-null    object
 1   Data 1: U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf)  290 non-null    object
dtypes: object(2)
memory usage: 4.7+ KB
None

Checking for Null Rows in the Data Frame

Back to Contents                                                          False
Data 1: U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf)    False
dtype: bool

Checking for Null Values in the Columns of the Data Frame

Back to Contents                                                          False
Data 1: U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf)    False
dtype: bool

Sum of All the Missing Values Per Column in the Data Frame

Back to Contents                                                          0
Data 1: U.S. Natural Gas Deliveries to Electric Power Consumers (MMcf)    0
dtype: int64

In [48]:
df = pd.read_csv("Raw-Data/Renewable Energy Consumption.csv")
get_dataframe_info(df, "Renewable Energy Consumption")

Information of the Renewable Energy Consumption Data Frame

First Ten Rows of the Data Frame
   Year  Month          Sector  Hydroelectric Power  Geothermal Energy  \
0  1973      1      Commerical                0.000              0.000
1  1973      1  Electric Power                0.000              0.490
2  1973      1      Industrial                1.040              0.000
3  1973      1     Residential                0.000              0.000
4  1973      1  Transportation                0.000              0.000
5  1973      2      Commerical                0.000              0.000
6  1973      2  Electric Power                0.000              0.448
7  1973      2      Industrial                0.962              0.000
8  1973      2     Residential                0.000              0.000
9  1973      2  Transportation                0.000              0.000

   Solar Energy  Wind Energy  Wood Energy  Waste Energy  \
0           0.0          0.0        0.570         0.000
1           0.0          0.0        0.054         0.157
2           0.0          0.0       98.933         0.000
3           0.0          0.0       30.074         0.000
4           0.0          0.0        0.000         0.000
5           0.0          0.0        0.515         0.000
6           0.0          0.0        0.157         0.144
7           0.0          0.0       89.359         0.000
8           0.0          0.0       27.164         0.000
9           0.0          0.0        0.000         0.000

   Fuel Ethanol, Excluding Denaturant  Biomass Losses and Co-products  \
0                                 0.0                             0.0
1                                 0.0                             0.0
2                                 0.0                             0.0
3                                 0.0                             0.0
4                                 0.0                             0.0
5                                 0.0                             0.0
6                                 0.0                             0.0
7                                 0.0                             0.0
8                                 0.0                             0.0
9                                 0.0                             0.0

   Biomass Energy  Total Renewable Energy  Renewable Diesel Fuel  \
0           0.570                   0.570                    0.0
1           0.211                  89.223                    0.0
2          98.933                  99.973                    0.0
3           0.000                  30.074                    0.0
4           0.000                   0.000                    0.0
5           0.515                   0.515                    0.0
6           0.301                  79.331                    0.0
7          89.359                  90.320                    0.0
8           0.000                  27.164                    0.0
9           0.000                   0.000                    0.0

   Other Biofuels  Conventional Hydroelectric Power  Biodiesel
0             0.0                             0.000        0.0
1             0.0                            88.522        0.0
2             0.0                             0.000        0.0
3             0.0                             0.000        0.0
4             0.0                             0.000        0.0
5             0.0                             0.000        0.0
6             0.0                            78.582        0.0
7             0.0                             0.000        0.0
8             0.0                             0.000        0.0
9             0.0                             0.000        0.0

Size of Data Frame

(3065, 17)

Types of Data Stored in the Data Frame

Year                                    int64
Month                                   int64
Sector                                 object
Hydroelectric Power                   float64
Geothermal Energy                     float64
Solar Energy                          float64
Wind Energy                           float64
Wood Energy                           float64
Waste Energy                          float64
Fuel Ethanol, Excluding Denaturant    float64
Biomass Losses and Co-products        float64
Biomass Energy                        float64
Total Renewable Energy                float64
Renewable Diesel Fuel                 float64
Other Biofuels                        float64
Conventional Hydroelectric Power      float64
Biodiesel                             float64
dtype: object

General Information on each Column in the Data Frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3065 entries, 0 to 3064
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                3065 non-null   int64
 1   Month                               3065 non-null   int64
 2   Sector                              3065 non-null   object
 3   Hydroelectric Power                 3065 non-null   float64
 4   Geothermal Energy                   3065 non-null   float64
 5   Solar Energy                        3065 non-null   float64
 6   Wind Energy                         3065 non-null   float64
 7   Wood Energy                         3065 non-null   float64
 8   Waste Energy                        3065 non-null   float64
 9   Fuel Ethanol, Excluding Denaturant  3065 non-null   float64
 10  Biomass Losses and Co-products      3065 non-null   float64
 11  Biomass Energy                      3065 non-null   float64
 12  Total Renewable Energy              3065 non-null   float64
 13  Renewable Diesel Fuel               3065 non-null   float64
 14  Other Biofuels                      3065 non-null   float64
 15  Conventional Hydroelectric Power    3065 non-null   float64
 16  Biodiesel                           3065 non-null   float64
dtypes: float64(14), int64(2), object(1)
memory usage: 407.2+ KB
None

Checking for Null Rows in the Data Frame

Year                                  False
Month                                 False
Sector                                False
Hydroelectric Power                   False
Geothermal Energy                     False
Solar Energy                          False
Wind Energy                           False
Wood Energy                           False
Waste Energy                          False
Fuel Ethanol, Excluding Denaturant    False
Biomass Losses and Co-products        False
Biomass Energy                        False
Total Renewable Energy                False
Renewable Diesel Fuel                 False
Other Biofuels                        False
Conventional Hydroelectric Power      False
Biodiesel                             False
dtype: bool

Checking for Null Values in the Columns of the Data Frame

Year                                  False
Month                                 False
Sector                                False
Hydroelectric Power                   False
Geothermal Energy                     False
Solar Energy                          False
Wind Energy                           False
Wood Energy                           False
Waste Energy                          False
Fuel Ethanol, Excluding Denaturant    False
Biomass Losses and Co-products        False
Biomass Energy                        False
Total Renewable Energy                False
Renewable Diesel Fuel                 False
Other Biofuels                        False
Conventional Hydroelectric Power      False
Biodiesel                             False
dtype: bool

Sum of All the Missing Values Per Column in the Data Frame

Year                                  0
Month                                 0
Sector                                0
Hydroelectric Power                   0
Geothermal Energy                     0
Solar Energy                          0
Wind Energy                           0
Wood Energy                           0
Waste Energy                          0
Fuel Ethanol, Excluding Denaturant    0
Biomass Losses and Co-products        0
Biomass Energy                        0
Total Renewable Energy                0
Renewable Diesel Fuel                 0
Other Biofuels                        0
Conventional Hydroelectric Power      0
Biodiesel                             0
dtype: int64

In [49]:
df = pd.read_csv("Raw-Data/solar-pv-prices.csv")
get_dataframe_info(df, "Solar Photovoltaic Prices")

Information of the Solar Photovoltaic Prices Data Frame

First Ten Rows of the Data Frame
  Entity      Code  Year  Solar photovoltaic module price
0  World  OWID_WRL  1975                       130.704730
1  World  OWID_WRL  1976                        98.340360
2  World  OWID_WRL  1977                        71.743920
3  World  OWID_WRL  1978                        50.759240
4  World  OWID_WRL  1979                        42.649870
5  World  OWID_WRL  1980                        36.142910
6  World  OWID_WRL  1981                        28.896935
7  World  OWID_WRL  1982                        25.963253
8  World  OWID_WRL  1983                        20.960136
9  World  OWID_WRL  1984                        19.476036

Size of Data Frame

(49, 4)

Types of Data Stored in the Data Frame

Entity                              object
Code                                object
Year                                 int64
Solar photovoltaic module price    float64
dtype: object

General Information on each Column in the Data Frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           49 non-null     object
 1   Code                             49 non-null     object
 2   Year                             49 non-null     int64
 3   Solar photovoltaic module price  49 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB
None

Checking for Null Rows in the Data Frame

Entity                             False
Code                               False
Year                               False
Solar photovoltaic module price    False
dtype: bool

Checking for Null Values in the Columns of the Data Frame

Entity                             False
Code                               False
Year                               False
Solar photovoltaic module price    False
dtype: bool

Sum of All the Missing Values Per Column in the Data Frame

Entity                             0
Code                               0
Year                               0
Solar photovoltaic module price    0
dtype: int64

In [50]:
df = pd.read_csv("Raw-Data/solar-pv-prices.csv")
get_dataframe_info(df, "Solar Photovoltaic Prices")

Information of the Solar Photovoltaic Prices Data Frame

First Ten Rows of the Data Frame
  Entity      Code  Year  Solar photovoltaic module price
0  World  OWID_WRL  1975                       130.704730
1  World  OWID_WRL  1976                        98.340360
2  World  OWID_WRL  1977                        71.743920
3  World  OWID_WRL  1978                        50.759240
4  World  OWID_WRL  1979                        42.649870
5  World  OWID_WRL  1980                        36.142910
6  World  OWID_WRL  1981                        28.896935
7  World  OWID_WRL  1982                        25.963253
8  World  OWID_WRL  1983                        20.960136
9  World  OWID_WRL  1984                        19.476036

Size of Data Frame

(49, 4)

Types of Data Stored in the Data Frame

Entity                              object
Code                                object
Year                                 int64
Solar photovoltaic module price    float64
dtype: object

General Information on each Column in the Data Frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           49 non-null     object
 1   Code                             49 non-null     object
 2   Year                             49 non-null     int64
 3   Solar photovoltaic module price  49 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB
None

Checking for Null Rows in the Data Frame

Entity                             False
Code                               False
Year                               False
Solar photovoltaic module price    False
dtype: bool

Checking for Null Values in the Columns of the Data Frame

Entity                             False
Code                               False
Year                               False
Solar photovoltaic module price    False
dtype: bool

Sum of All the Missing Values Per Column in the Data Frame

Entity                             0
Code                               0
Year                               0
Solar photovoltaic module price    0
dtype: int64